#poop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(img/unchi_character.png);
    width: 30vw;
    height: 30vw;
    background-size: cover;
}